%body
  .background#background 
    #superPanel.sidepanel
      = render 'layouts/sidepanel'
    #superFlex.flex-container
      = render 'layouts/navbar'
      = render 'layouts/pic'
      = render 'layouts/info'
