// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap';

.background {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: #041215;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow-x: hidden;
}

.layerback {
  opacity: 25%;
}

.flex-container {
  display: flex;
  background-color: #041215;
  width: 75%;
  max-width: 77%;
  min-width: 515px;
  min-height: 515px;
  height: 95vh;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.nav-container {
  background-color: #010009;
  height: 90%;
  width: 60px;
  min-width: 60px;
  min-height: 515px;
}

button:focus {
  border-style: none;
  border-width: none;
  border:none;
  outline: none;
}

.burguer-container {
  width: 100%;
  height: 65px;
  min-width: 100%;
  min-height: 65px;
  max-width: 100%;
  max-height: 65px;
  border: none;
  background-color: rgb(107, 228, 255);
  .span-container {
    width: 40%;
    height: 35%;
    display: flex;
    margin-left: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    transition: width .5s, height .5s, margin-left .5s;
    .burguer-bar {
      width: 100%;
      display: block;
      border-top: 2.5px solid black;
      border-radius: 5vw;
    }
  }
}

button:hover .span-container{
  display: flex;
  width: 60%;
  height: 48%;
  margin-left: 22.5%;
  .burguer-bar {
    border-radius: 5vw;
  }
}

.pic-container {
  height: 100%;
  width: 35%;
  min-width: 240px;
  background-image: url("me.png");
  background-size: cover;
  background-position: center;
  background-attachment: relative;
}

.info-container {
  background-color: #010009;
  height: 90%;
  width: 61%;
  min-width: 350px;
  min-height: 515px;
}

.menu {
  min-height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: aqua;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.layer {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: gray;
  opacity: 0;
  display: none;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  .flex-container {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
  }
  .pic-container {
    display: none;
  }
  .nav-container {
    min-height: 100vh;
    min-width: 55px;
  }
  .info-container {
    min-height: 100vh;
    min-width: 87%;
  }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
  .flex-container {
    width: 100vw;
  }
}
 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .flex-container {
    width: 80vw;
  }
}
 
 /* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1280px) {
  .flex-container {
    max-width: 1080px;
  }
  .pic-container {
    width: 70%;
  }
} 
