.info-container#infoContainer
  .container#container
    .profile-info.info-wrapper#prof
      %p= t 'profile'
    .experience-info.info-wrapper#exp
      %br
      %p= t 'experience'
    .formation-info.info-wrapper#forma
      %br
      %br
      %p= t 'formation'
    .settings-info.info-wrapper#set
      %br
      %br
      %br
      %p= t 'settings'
