.nav-container
  %nav
    %button#hamburguerContainer.burguer-container{type: 'button'}
      .span-container
        %span.burguer-bar.fst-line
        %span.burguer-bar.scnd-line
        %span.burguer-bar.thrd-line
