.nav-container
  %nav
    %button{type: 'button', class: 'burguer-container', onclick: 'openNav()'}
      .span-container
        %span.burguer-bar.fst-line
        %span.burguer-bar.scnd-line
        %span.burguer-bar.thrd-line
