.pic-container
  .social-container#social
    .pic-layer#picLayer
      .social-button-container#ico
        .gh-ico#ico
          = image_tag 'github(1).svg', class: 'ghimg'
        .cp#ico
          = image_tag 'codepen.svg', class: 'copeimg'
        .li#ico
          = image_tag 'linkedin.svg', class: 'linimg'
